.node {
  stroke: whitesmoke;
  stroke-width: 3px;
}

.node-label {
  fill: black;
}

.links {
  stroke: darkgrey;
  stroke-width: 3px;
}

.hulls {
  opacity: 0.3;
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
